.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {
  --PokemonCardHeaderColor: #ffc2d9;
  --PokemonCardBgColor: #ffffff;
  --PokemonCardSpriteBgColor: #111111;
  --SimpleCardBgColor: rgb(56, 93, 102);
}

.App code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SimpleCard {
  background-color: var(--SimpleCardBgColor);
  border-radius: 20px;

  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 20px;

  max-width: 20em;
}

.SimpleCard .CardHeader {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 2em;
}

.SimpleCard .Name {
  font-weight: bolder;
  text-overflow: ellipsis;
}

.SimpleCard .PokedexNr {
  font-weight: lighter;
}

.SimpleCard .SpriteBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
}

.SimpleCard .Sprite {
  z-index: 1;
  height: 7em;
  width: 7em;
}

.SimpleCard .Types {
  display: flex;
  flex-direction: column-reverse;
}

.SimpleCard .Types li {
  background-color: rgba(255, 255, 255, 0.15);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}
