html {
  background-color: #282c34;
}

body {
  overflow-y: auto;
}

.App {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

:root {
  --PokemonCardHeaderColor: #ffc2d9;
  --PokemonCardBgColor: #ffffff;
  --PokemonCardSpriteBgColor: #111111;
  --SimpleCardBgColor: rgb(56, 93, 102);
}

.App code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SimpleCard {
  background-color: var(--SimpleCardBgColor);
  border-radius: 20px;

  position: relative;
  z-index: 0;
  overflow: hidden;

  padding: 10px 20px;

  width: inherit;
  height: inherit;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SimpleCard .CardHeader {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 100%;
}

.SimpleCard .Name {
  overflow: hidden;
  width: 8em;
  font-weight: bolder;
  text-align: start;
  height: 2em;
}

.SimpleCard .PokedexNr {
  width: 3em;
  font-weight: lighter;
  text-align: end;
}

.SimpleCard .SpriteBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1px;
}

.SimpleCard .Sprite {
  opacity: 1;
  z-index: 1;
  height: 100px;
  width: 100px;
  transform: translateX(5px) translateY(5px);
}

.SimpleCard .Sprite.Loaded {
  opacity: 1;
}

.SimpleCard .Types {
  width: 4em;
  display: flex;
  flex-direction: column-reverse;
}

.SimpleCard .Types .Type {
  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  margin-top: 3px;

  height: 1.5em;
  font-size: 0.7em;
}

/* Grid */

.CardGrid {
  padding: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-items: flex-start;
}

.CardGrid li {
  margin: 5px;
}
