.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {
  --PokemonCardHeaderColor: #ffc2d9;
  --PokemonCardBgColor: #ffffff;
  --PokemonCardSpriteBgColor: #111111;
  --SimpleCardBgColor: rgb(56, 93, 102);
}

.App code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SimpleCard {
  background-color: var(--SimpleCardBgColor);
  border-radius: 10px;

  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 5px;

  width: 9em;
}

.SimpleCard .CardHeader {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 100%;
}

.SimpleCard .Name {
  width: 4em;
  font-weight: bolder;
  text-overflow: ellipsis;
}

.SimpleCard .PokedexNr {
  width: 3em;
  font-weight: lighter;
}

.SimpleCard .SpriteBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1px;
}

.SimpleCard .Sprite {
  z-index: 1;
  height: 3.5em;
  width: 3.5em;
  transform: translateX(5px) translateY(5px);
}

.SimpleCard .Types {
  width: 4em;
  display: flex;
  flex-direction: column-reverse;
}

.SimpleCard .Types .Type {
  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100px;

  height: 1.5em;
  font-size: 0.7em;
}

/* Grid */

.CardGrid {
  padding: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-items: flex-start;
}

.CardGrid li {
  margin: 5px;
}
